{% extends "base.html"%}
{% load crispy_forms_tags %}

{% block title %}
    Tic-Tac-Toe | Contact
{% endblock title %}

{% block content %}
<style>
.help-block{
    font-weight:bolder;
    color:blue;
}
.progress {
    height: 10px;
    border-radius: 10px;
    margin-bottom:1rem
}

.progress div {
    background-color: crimson
}

</style>
 <div class="container mt-2">

	<div class="wrapper">

		<!-- COMPANY INFORMATION -->
		<div class="company-info" >
        <label class="label success" style="min-width:100%;background-color: #0088cc;padding: 0.5rem;color: white;text-align: center;margin-top:1rem;border-radius:0.5rem;margin-bottom:1rem">Tic-Tac-Toe</label>

			
<div class="text-center">
  <center><img src="https://www.tataaia.com/content/dam/tataaialifeinsurancecompanylimited/contact-us/ContactUs.png" class="card-img rounded-circle" id="commentimg"></center>

</div>
<br>
			  <center><a class="btn btn-primary" href="mailto:karthiksg2001@gmail.com">Email Us</a>  </center>
		</div>
		<!-- End .company-info -->

		<!-- CONTACT FORM -->
		<div class="contact">
			<h3 style="font-weight:bolder" class="text-left">Drop Us A Message</h3>

			 <form method="post" autocomplete="off" name="google-sheet" id="contact-form"  spellcheck="false" autocomplete="off" autofocus="autofocus" >
<input type="hidden" name="csrfmiddlewaretoken" value="ITRCajk6BJbB4PgEnnUTv2ygkDx0vEWuN29rIOZHyzyIy9mgXOcwDrgJ2Nq6HmPt">
		<p class="full">
					<label>Name</label><br>
					<input type="text" name="Name" id="name" placeholder="John Doe"  spellcheck="false" autocomplete="off" autofocus="autofocus" required >
				</p>

		<p class="full">
					<label>E-mail Id</label>
					<input type="email" name="Email" id="email" placeholder="johndoe.cs19@bmsce.ac.in"  required spellcheck="false" autocomplete="off" autofocus="autofocus" >
				</p>

				<p class="full">
					<label>Subject</label>
					<input type="text" name="Subject" id="subject"  placeholder="Type Here.." required spellcheck="false" autocomplete="off" autofocus="autofocus" >
				</p>

			

				<p class="full">
					<label>Message</label>
					<textarea name="Message" rows="5" id="message" autocomplete="off"></textarea>
				</p>

			<div class="btn-group" role="group" aria-label="Basic example" >
  <input class="btn btn-primary"  type="submit" name="submit" class="btnSubmit btn" value="Send Message" style='margin-right:0.5rem'/>

 <input class="btn btn-primary" type="reset" class="btnSubmit btn" value="Clear Form" />
</div>

			</form>
			<!-- End #contact-form -->
		</div>
		<!-- End .contact -->

	</div>
	<!-- End .wrapper -->
</div>

 <script>
            const scriptURL = 'https://script.google.com/macros/s/AKfycbzf1jE_Z4a-EzqUsK1p0T-i2yxamTtUtvOHhXMbqmQahtUfPLdQtpoEWhRwFVujN3KuUw/exec'
            const form = document.forms['google-sheet']
          
            form.addEventListener('submit', e => {
              e.preventDefault()
              fetch(scriptURL, { method: 'POST', body: new FormData(form)})
                .then(response => swal({
                  title: "Message Sent Successfully!",
                  text: "Thanks for Contacting Us!",
                  icon: "success",
                  button: "Close",
                }))
                .catch(error => console.error('Error!', error.message))
            })
          </script>
         <script>
         $('#contact-form')[0].reset();
         $(document).ready(function () {
    $('input').attr('autocomplete', 'false');
});
          </script>
<!-- End .container -->

</div>
{% endblock %}